@import "tailwindcss";

body {
  background-color: #f6f8fa;
  color: #171717;
  font-family: var(--poppins),
    monospace;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #24292f;
    color: #c9d1d9;
  }
}

html[data-theme='dark'] body {
  background-color: #24292f;
  color: #c9d1d9;
}

html[data-theme='light'] body {
  background-color: #f6f8fa;
  color: #171717;
}

.bg-gray-200.dark {
  background-color: #30363d;
}

.bg-gray-200.dark:hover {
  background-color: #3f444a;
}

.bg-gray-700.light {
  background-color: #e0f2fe;
}

.bg-gray-700.light:hover {
  background-color: #bae6fd;
}

.text-gray-800.dark {
  color: #c9d1d9;
}

.text-gray-800.light {
  color: #171717;
}

.text-white.light {
  color: #171717;
}

.text-white.dark {
  color: #c9d1d9;
}

html[data-theme='dark'] .border {
  border-color: #30363d;
}

html[data-theme='dark'] input,
html[data-theme='dark'] textarea {
  background-color: #30363d;
  color: #c9d1d9;
}

html[data-theme='dark'] button {
  background-color: #30363d;
  color: #c9d1d9;
}

html[data-theme='light'] button {
  background-color: #e0f2fe;
  color: #171717;
  border: 1px solid #bae6fd;
}

html[data-theme='dark'] .card {
  background-color: #30363d;
}

html[data-theme='light'] .card {
  background-color: #ffffff;
}

html[data-theme='dark'] .sticky.top-4.z-10 {
  background-color: #27272a;
}

html[data-theme='light'] .sticky.top-4.z-10 {
  background-color: #e0f2fe;
}